<div class="tech-btm widget_social">
	<h4>İletişimde Kalın</h4>
	<ul>

		<li>
			<a class="twitter" href="https://www.instagram.com/volumatrix/?igshid=NzZlODBkYWE4Ng%3D%3D">
				<i class="fab fa-twitter"></i>
				<span class="count">317K</span>
			</a>
		</li>
		<li>
			<a class="facebook" href="https://www.instagram.com/volumatrix/?igshid=NzZlODBkYWE4Ng%3D%3D">
				<i class="fab fa-facebook-f"></i>
				<span class="count">218k</span>
			</a>
		</li>
		<li>
			<a class="instagram" href="https://www.instagram.com/volumatrix/?igshid=NzZlODBkYWE4Ng%3D%3D">
				<i class="fab fa-instagram"></i>
				<span class="count">320k</span>
			</a>
		</li>

		<li>
			<a class="youtube" href="#">
				<i class="fab fa-youtube"></i>
				<span class="count">450k</span>
			</a>
		</li>
		<li>
			<a class="telegram" href="https://t.me/volumatriX">
				<i class="fab fa-telegram"></i>
				<span class="count"></span>
			</a>
		</li>
	</ul>
</div>

<style>
	/* Bu stil bağlantıları görünür hale getirir */
	.tech-btm.widget_social ul li a {
		display: block;
		text-decoration: none;
		color: #333; /* Bağlantı metni rengi */
	}
</style>
